@import 'primeicons/primeicons.css';
@import "swiper/swiper-bundle.css";


body {
    font-family: SF Pro, Roboto, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    margin: 0;
    padding: 0;
    background-color: #00031c;
    color: #fff
}

i,
.p-menubar-item-icon,
.p-menubar-item-label,
.p-inputtext::placeholder{
    color: #fff
}

.p-menubar-submenu,
.p-menubar-item-content:focus,
.p-menubar-item-content:target,
.p-menubar-item-content:hover {
    background: #22242c!important;
    color: #e6ac06!important;
}

.p-menubar-root-list {
    z-index: 9999;
}

.p-menubar-submenu {
    margin-top: 10px!important;
    background: #191b24!important;
    color: #e6ac06!important;
    border: none!important
}

.p-button-label {
    font-weight: 700!important;
}

.p-button:hover {
    background: linear-gradient(248.28deg, #9e61ff 9.54%, rgba(142, 97, 255, 0) 32.8%), radial-gradient(81.71% 279.87% at -16.57% -92%, #619bff 28.69%, rgba(205, 219, 248, 0) 69.54%), #6c52ee!important;
    opacity: 0.9!important;
    border: none!important;
}

.p-password {
    padding: 0px!important;
    height: 44px!important;
}
